<div class="modal fade draggable-modal modalx" 
     id="deleteConfirmModal" 
     tabindex="-1" 
     data-backdrop="static" 
     data-keyboard="false"
     role="dialog" 
     aria-labelledby="deleteLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Esta a punto de borrar este registro</h4>

                <i class="glyphicon glyphicon-remove-circle fa-3x pull-right text-danger" style="margin-top:-22px;"></i>                
            </div>
            <div class="modal-body">    
                <div>
                    
                    <h5 class="text-danger">  Esta seguro que desea continuar?</h5>
                </div>            
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteCancel" data-dissmiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="deleteConfirm">Borrar</button>
            </div>
        </div>
    </div>
</div>
